services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - '3000:3000'
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - grafana_storage:/var/lib/grafana
    networks:
      - scrape-network

volumes:
  grafana_storage:

networks:
  scrape-network:
    name: scrape-network
    external: true
